<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Lieu table and query search</title>
        <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
    <body>
        <div class="center-block"><h1 class="text-center">Lieu table</h1></div>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="../">Return to home page</a>
                </div>
                <div class="">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                Lieu type
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <form method="get">
                                        <input type="hidden" value="">
                                        <button type="submit" class="btn-link" style="margin-left: 20px">all</button>
                                    </form>
                                </li>

                                <li>
                                    <form method="get">
                                        <input type="hidden" name="type" value="obj">
                                        <button type="submit" class="btn-link" style="margin-left: 20px">obj</button>
                                    </form>
                                </li>

                                <li>
                                    <form method="get">
                                        <input type="hidden" name="type" value="loc">
                                        <button type="submit" class="btn-link" style="margin-left: 20px">loc</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>nom fichier</th>
                    <th>num phrase</th>
                    <th>dynamique</th>
                    <th>segment annoté</th>
                    <th>lieu type</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                <tr>
                    <td>{{ obj.id }}</td>
                    <td>{{ obj.nom_fichier }}</td>
                    <td>{{ obj.num_phrase }}</td>
                    <td>{{ obj.dynamique }}</td>
                    <td>{{ obj.segment_annote }}</td>
                    <td>{{ obj.type }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    </body>
</html>