<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>nom fichier</th>
            <th>num phrase</th>
            <th>segment annoté</th>
            <th>accompli</th>
            <th>nature</th>
            <th>proces</th>
            <th>temps</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in queryset %}
        <tr>
            <td>{{ obj.id }}</td>
            <td>{{ obj.nom_fichier }}</td>
            <td>{{ obj.num_phrase }}</td>
            <td>{{ obj.segment_annote }}</td>
            <td>{{ obj.accompli }}</td>
            <td>{{ obj.nature }}</td>
            <td>{{ obj.proces }}</td>
            <td>{{ obj.temps }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>