<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>index of projet enrichissement de corpus</title>
        <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        {% load static %}
    </head>
    <body>

        <div class="container" style="margin-top: 30px">
            <img src="/static/django.png" height="120" width="120" class="img-responsive" alt="django image" style="display: inline-block;">
            <img src="/static/python.jpg" height="120" width="120" class="img-responsive" alt="django image" style="display: inline-block;">
            <img src="/static/mysql.png" height="120" width="120" class="img-responsive" alt="django image" style="display: inline-block;">
        </div>

        <div class="container">
            <h1 style="text-align: center">Projet enrichissement de corpus</h1>
            <table class="table">
                <tbody>
                <tr>
                    <th><a href="#"><h2>Table act</h2></a></th>
                    <th><a href="#"><h2>Table doc</h2></a></th>
                    <th><a href="/dynamique"><h2>Table dynamique</h2></a></th>
                    <th><a href="#"><h2>Table lieu</h2></a></th>
                </tr>
                <tr>
                    <th><a href="#"><h2>Table nouvelle</h2></a></th>
                    <th><a href="#"><h2>Table perception</h2></a></th>
                    <th><a href="#"><h2>Table temps</h2></a></th>
                    <th><a href="#"><h2>Table simple</h2></a></th>
                </tr>
                </tbody>
            </table>


        </div>

        <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    </body>
</html>